@model IEnumerable<MVCMovieBase.Web.Models.MovieViewModel>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor

<style>
    .session-info-container{
        background: #0d6efd6b;
        border-radius: 10px;
        padding: 20px 0;
        text-align: center;
    }

    .btn-container{
        display: flex;
    }
    .add-link{
        align-self: flex-end
    }
</style>

@{
    byte[] recentlyAddedMovieBytes = null;
    httpContextAccessor.HttpContext.Session.TryGetValue("RecentlyAdded", out recentlyAddedMovieBytes);

    string display = null;
    if(recentlyAddedMovieBytes is not null)
    {
        display = System.Text.Encoding.Default.GetString(recentlyAddedMovieBytes);
    }
}

@{
    <div class="container">
        <div class="row">
            <div class="col btn-container">
                <a href="/Movie/Create" class="btn btn-primary add-link" role="button">Add movie</a>
            </div>
            @if (display is not null)
            {
                <div class="col">
                    <div class="session-info-container">
                        <h4 class="session-info-container__header">Recently added movie @display </h4>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="table-responsive">
    
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Year</th>
                    <th scope="col">Director</th>
                    <th scope="col">Country</th>
                    <th scope="col">Score</th>
                    <th scope="col">Votes count</th>
                    <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Title </td>
                        <td>@item.Genre </td>
                        <td>@item.Year </td>
                        <td>@item.Director </td>
                        <td>@item.Country </td>
                        <td>@item.ScoreAverage </td>
                        <td>@item.ScoreVotesCount </td>
                        <td colspan="2">
                            <a href="/Movie/Delete/@item.Id" class="btn btn-danger" role="button">Delete</a>
                            <a href="/Movie/Update/@item.Id" class="btn btn-primary" role="button">Update</a>
                        </td>
                    </tr>
                }
          </tbody>
        </table>
    </div>
}
